<div [formGroup]="formGroup">
  <h4 class="mat-h4">{{ skill.name }}</h4>
  <mat-form-field class="field">
    <mat-select formControlName="dependency" placeholder="Dependency">
      <mat-option *ngFor="let dependency of skill.deps" [value]="dependency">{{ dependency }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label floatLabel>Value</mat-label>
    <input matInput formControlName="value" required>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label floatLabel>Price</mat-label>
    <input matInput formControlName="price" readonly>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label floatLabel>Difficulty</mat-label>
    <input matInput formControlName="difficulty" readonly>
  </mat-form-field>
</div>
