<div [formGroup]="formGroup">
  <h3 class="mat-h3">{{ data.name }}</h3>
  <mat-form-field>
    <mat-label floatLabel>Value</mat-label>
    <input matInput formControlName="value" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label floatLabel>Price</mat-label>
    <input matInput formControlName="price" readonly>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select formControlName="dependency" placeholder="Dependency">
      <mat-option *ngFor="let dependency of deps" [value]="dependency">{{ dependency }}</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>