{{ !(loading$ | async) }}

<ng-container *ngIf="!(loading$ | async)">

  {{ char.name }}

  <span>Total price: {{ total }}</span>

  <form [formGroup]="statsForm" class="statsForm">

    <div class="group">
      <mat-form-field>
        <mat-label floatLabel>Total points</mat-label>
        <input matInput formControlName="total" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Available points</mat-label>
        <input matInput formControlName="available" disabled readonly>
      </mat-form-field>
    </div>

    <h3 class="mat-h3">Primary stats</h3>

    <mat-divider></mat-divider>

    <div formGroupName="stats" class="group">

      <mat-form-field>
        <mat-label floatLabel>Strength</mat-label>
        <input matInput formControlName="str" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Dexterity</mat-label>
        <input matInput formControlName="dex" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Intelligence</mat-label>
        <input matInput formControlName="int" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Health</mat-label>
        <input matInput formControlName="hlt" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Will</mat-label>
        <input matInput formControlName="will" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Perception</mat-label>
        <input matInput formControlName="per" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>FP</mat-label>
        <input matInput formControlName="fp" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>HP</mat-label>
        <input matInput formControlName="hp" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Basic speed</mat-label>
        <input matInput formControlName="bs" required>
        <mat-hint>{{ basicSpeed }}</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label floatLabel>Basic movement</mat-label>
        <input matInput formControlName="bm" required>
        <mat-hint>{{ movement.bm }}</mat-hint>
      </mat-form-field>

    </div>

  </form>

  <button mat-button>TEST MATERIAL</button>

  <mat-form-field>
    <input matInput="test" type="text">
  </mat-form-field>

  ====
  <skills-list [data]="skills"></skills-list>
  ====

</ng-container>
